@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Roboto',sans-serif;
}
body {
  background: linear-gradient(#f5f5f7, #ffe2e7);
}

.cardPrin {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.cardPrin {
  transform: translateY(-6px); 
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);

}

/* Card externo que recebe o calendário via JS */
.calendar-card {
  background: #fff;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* Conteúdo que o JS insere */
.calendar {
  width: 100%;
}

.header {
  display:flex;
  justify-content:center;
  padding-bottom:8px;
}

.monthYear {
  font-weight:700;
  font-size:16px;
  text-align:center;
}

/* Dias fixos */
.days {
  margin-top:6px;
  display:grid;
  grid-template-columns:repeat(7,1fr);
  font-weight:600;
  gap:6px 0;
  text-align:center;
}

/* Datas */
.dates {
  margin-top:8px;
  display:grid;
  grid-template-columns:repeat(7,1fr);
  gap:8px;
}

.date {
  height:40px;
  display:flex;
  align-items:center;
  justify-content:center;
  font-weight:600;
  cursor:pointer;
  border-radius:50%;
  transition:transform .08s;
}

.date:hover {
  transform:translateY(-2px);
}

.date.inactive {
  color:#bdbdbd;
}

.date.selected {
  background:#007bff;
  color:#fff;
  font-weight:bold;
}
